Django==1.11.7
django-appconf==1.0.3
django-ckeditor==5.7.1
django-haystack==2.8.1
django-imagekit==4.0.2
django-js-asset==1.2.2
django-pure-pagination==0.3.0
jieba==0.39
Markdown==3.1.1
pilkit==2.0
Pillow==9.3.0
pytz==2019.1
six==1.12.0
Whoosh==2.7.4
