{% extends 'base.html' %}
{% load highlight %}
{% block title %}Heyis.me|Search{% endblock %}
{% block others %}
<div class="w3-content" style="max-width:1400px">
   <div class="row no-gutters flex-column-reverse flex-md-row">
       <div class="col-md-8">
           <div class="w3-card-4 w3-margin w3-white">
               <div class="pb-3">
                    {% if query %}
                       {% for blog in page.object_list %}
                           <div class="w3-container">
                               <div class="row no-gutters">
                                   <div class="col-lg-4 col-md-4 col-3 ">
                                       <div class="w3-center w3-margin-right w3-margin-top">
                                           <img src="{{ blog.object.cover_min.url }}" alt="cover min" style="width: 100%;">
                                       </div>
                                   </div>
                                   <div class="col-lg-8 col-md-8 col-9">
                                        <p>
                                           <a href="{% url 'blog_id' blog.object.id %}"><h4>{{ blog.object.title }}</h4></a>
                                            <i class="fa fa-calendar"></i>  <span class="w3-opacity">{{ blog.object.create_time | date:"Y m d" }}</span>
                                            <p>{% highlight blog.object.content with query %}</p>
                                            <p><a href="{% url 'blog_id' blog.object.id %}" rel="contents" style="text-decoration: none;"><button class="w3-left w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></a></p>
                                        </p>
                                   </div>
                               </div>
                           </div>
                       {% empty %}
                           <p>No results found.</p>
                       {% endfor %}

                       {% if page.has_previous or page.has_next %}
                           <div>
                               {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                               |
                               {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                           </div>
                       {% endif %}
                   {% else %}
                       {# Show some example queries to run, maybe query syntax, something else? #}
                   {% endif %}
               </div>
           </div>
           <hr>
       </div>
       <div class="col-md-4">
           <div class="w3-card w3-margin w3-white">
                <div class="w3-container">
                    <form class="my-2" role="search" method="get" action="{% url 'haystack_search' %}">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search" name="q" placeholder="Search" aria-label="Search" required>
                            <span class="input-group-append">
                              <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                    <i class="fa fa-search"></i>
                              </button>
                            </span>
                        </div>
                    </form>
                </div>
           </div>
           <div class="w3-card w3-margin w3-white">
                <div class="w3-container">
                    <form class="my-2" role="search" method="get" action="https://www.google.com/search">
                        <div class="input-group">
                            <input class="form-control py-2 border-right-0 border" type="search" name="q" placeholder="Search" aria-label="Search" required>
                            <span class="input-group-append">
                              <button class="btn btn-outline-secondary border-left-0 border" type="button">
                                    <i class="fa fa-google"></i>
                              </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </div>
</div>
{% endblock %}