<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heyis.me|Page Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/css/w3.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text|Lora|Merriweather&display=swap">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    a {text-decoration: none;}
    a:hover{text-decoration:none;}
    .w3-tangerine {
                  font-family: "Tangerine", serif;
                  }
    .w3-Merriweather {
                  font-family: 'Merriweather', serif;
                  }
</style>
</head>
<body>
<section>
    <div class=container>
        <div class=row>
            <div class="col-md-5 col-md-offset-1 col-sm-6 text-center">
                <h4>Oh no! The page you are looking for is not here.</h4>
                <h1>404</h1>
                <a href="index.html" class="btn">Take Me Home</a>
            </div>
            <div class="col-md-5 col-sm-6"><img src="/statics/images/404.png"></div>
        </div>
    </div>
</section>
</body>
</html>