<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heyis.me|Internal Server Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/statics/css/w3.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Libre+Caslon+Text|Lora|Merriweather&display=swap">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
    body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    a {text-decoration: none;}
    a:hover{text-decoration:none;}
    .w3-tangerine {
                  font-family: "Tangerine", serif;
                  }
    .w3-Merriweather {
                  font-family: 'Merriweather', serif;
                  }
</style>
</head>
<body>

</body>
</html>