<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Heyis.me|500</title>
<link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/statics/css/500.css">
</head>
<body translate="no">
<div id="error">
<div id="box"></div>
<h3>ERROR 500</h3>
<p>Things are a little <span>unstable</span> here</p>
<p>I suggest come back later</p>
</div>
</body>
</html>