{% extends 'base.html' %}}
{% load staticfiles %}

{% block title %}Heyis.me|FAQ{% endblock %}

{% block others %}
<div class="w3-content" style="max-width:1400px">
   <div class="row no-gutters flex-column-reverse flex-md-row">
        <div class="col-md-8">
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/statics/images/privacy.png" alt="Privacy Policy" style="width:100%">
                <div class="w3-container mx-lg-3 mx-md-3">
                    <div class="w3-padding-small w3-margin-top">
                        <h2 id="0" class="w3-margin-small">
                            FAQ
                        </h2>
                    </div>
                    <hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                            Basic INFO
                        </h3>
                    </div>
                    <p class="mx-3">
                        This site uses python3.6+Django1.11.7+MySQL8 to deploy on Linux (ubuntu18.04) server using Nginx+Uwsgi.
                        Later, it will use Docker to deploy this site. The source code has been open sourced on Github, and some data/privacy files have not been uploaded.
                        Please contact me if you have any needs.
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3 id="1">
                            About Us？
                        </h3>
                    </div>
                    <p class="mx-3">
                        This websites was made by Heaciy in 2019
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                            Where is the navigation bar?
                        </h3>
                    </div>
                    <p class="mx-3">
                        Unfortunately, we gave up the traditional navigation bar design, the specific function is integrated into the bottom bar.
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                             Why is the access speed slow?
                        </h3>
                    </div>
                    <p class="mx-3">
                        Mainly because the server of this station is abroad, and the DNS service provider is also foreign, so there will inevitably be some delay.
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                            How to post after registering a user?
                        </h3>
                    </div>
                    <p class="mx-3">
                        This site is a personal blog!!! But we are considering building a community, related functions are under development.
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                            How to register? Can I log in using a third party?
                        </h3>
                    </div>
                    <p class="mx-3">
                        Clicking on Signin or Signup in the bottom bar will take you to the registration page (registration needs to be cautious, after all, you can only comment after registration,
                        the posting function is under development, I hope you can understand, after all, we do not want to disturb you)<br>
                        The third party is logged in and is under development. It is expected to be completed within this week. However, because the site cannot be filed in China for reasons of failure to support QQ WeChat or Weibo login,
                        we will provide support as soon as the record is allowed. Currently developing features for logging in with Github and StackOverflow
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                            Where is the RSS? E-mail Subscriptions?
                        </h3>
                    </div>
                    <p class="mx-3">
                        In view of the fact that no one currently uses rss, we have not developed rss subscription function.
                        Email subscription is not supported at this time, related functions are under development, so stay tuned, thank you for your support.
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                            Security issues?
                        </h3>
                    </div>
                    <p class="mx-3">
                        In order to dispel your concerns in this regard, we use the HTTPS protocol instead of the HTTP protocol to make your access more secure.
                    </p><hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3>
                            Advertisement
                        </h3>
                    </div>
                    <p class="mx-3">
                        This site is a personal blog site and will not serve any ads.
                    </p><hr>
                </div>
            </div>
            <hr>
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/statics/images/terms.png" alt="Privacy Policy" style="width:100%">
                <div class="w3-container mx-lg-3 mx-md-3">
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3 id="2">
                            Privacy Policy?
                        </h3>
                    </div>
                    <p class="mx-3">
                        We will not collect or intentionally disclose the privacy of any user, but we will collect some relevant
                        cookies data to improve the user experience.
                    </p>
                    <hr>
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h3 id="3">
                            Terms & Conditions?
                        </h3>
                    </div>
                    <p class="mx-3">
                        1.All rights reserved, the final interpretation right belongs to this website.<br>
                        2.We have the right to remove inappropriate comments from users.<br>
                        3.If there is any infringement, please contact the administrator to delete.
                    </p>
                 </div>
             </div>
         </div>
       <div class="col-md-4">
            <div class="sticky-top w3-card w3-margin w3-white">
                <img src="/statics/images/Privacy-Policy.jpg" alt="Privacy Policy" style="width:100%">
                <div class="w3-container">
                    <div class="w3-panel w3-leftbar w3-border-aqua">
                        <h2>About Copyright</h2>
                    </div>
                    <div mx-lg-3 mx-md-3>
                        <p>All original content copyright belongs to this site, please indicate the source when reprinting</p><hr>
                        <p>Of course, this station used some excellent third-party open source plug-ins in the process of erection.
                            The specific reference information has been marked in the specific file to indicate that the copyright belongs to the original author.
                            Thanks again to every creator who has contributed to the open source business.</p><hr>
                        <p>The source code of this site has been open sourced in <a href="https://github.com/Heaciy/blog" target="_blank" style="color: #00B0E8">Github</a>, welcome to visit.</p>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>
{% endblock %}