{% extends 'base.html' %}}
{% load staticfiles %}

{% block others %}
<div class="w3-content" style="max-width:1400px">
   <div class="row no-gutters flex-column-reverse flex-md-row">
        <div class="col-md-8">
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/statics/images/p_p.png" alt="Privacy Policy" style="width:100%">
                <div class="w3-container">
                    <h3 id="0">
                        FAQ
                    </h3>
                    <h4 id="1">
                        About US?
                    </h4>
                    <p>
                        This websites was made by Heaciy in 2019
                    </p>
                    <h4 id="2">
                        Privacy Policy?
                    </h4>
                    <p>
                        We will not collect or intentionally disclose the privacy of any user, but we will collect some relevant
                        cookies data to improve the user experience.
                    </p>
                    <h4 id="3">
                        Terms & Conditions?
                    </h4>
                    <p>
                        1.All rights reserved, the final interpretation right belongs to this website.<br>
                        2.We have the right to remove inappropriate comments from users.<br>
                        3.If there is any infringement, please contact the administrator to delete.
                    </p>
                </div>
            </div>
            <hr>
            <div class="w3-card-4 w3-margin w3-white">
                <img src="/statics/images/terms.png" alt="Privacy Policy" style="width:100%">
                <div class="w3-container">
                    <h3 id="0">
                        FAQ
                    </h3>
                    <h4 id="1">
                        About US?
                    </h4>
                    <p>
                        This websites was made by Heaciy in 2019
                    </p>
                    <h4 id="2">
                        Privacy Policy?
                    </h4>
                    <p>
                        We will not collect or intentionally disclose the privacy of any user, but we will collect some relevant
                        cookies data to improve the user experience.
                    </p>
                    <h4 id="3">
                        Terms & Conditions?
                    </h4>
                    <p>
                        1.All rights reserved, the final interpretation right belongs to this website.<br>
                        2.We have the right to remove inappropriate comments from users.<br>
                        3.If there is any infringement, please contact the administrator to delete.
                    </p>
                 </div>
             </div>
         </div>
       <div class="col-md-4">
            <div class="sticky-top w3-card w3-margin w3-white">
                <img src="/statics/images/Privacy-Policy4.jpg" alt="Privacy Policy" style="width:100%">
                <div class="w3-container">
                    1st on mobile
                </div>
            </div>
        </div>
   </div>
</div>
{% endblock %}