<!-- index.html -->
{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}

{% block about_me %}
    {% include 'about_me.html' %}
{% endblock %}

{% block content %}
    {% for blog in all_blogs.object_list %}
        <div class="w3-card-4 w3-margin w3-white">
            <img src="{{ blog.cover.url }}" alt="cover" style="width:100%">
            <div class="w3-container">
                <h3><b>{{ blog.title }}</b></h3>
                <h5>{{ blog.title_description }}, <i class="fa fa-calendar"></i>  <span class="w3-opacity">{{ blog.create_time | date:"Y m d" }}</span>,  <i class='far fa-eye'></i>  <span  class="w3-opacity">{{ blog.get_click_nums}}</span></h5>
            </div>

            <div class="w3-container">
                <p>
                    {{ blog.content | safe | truncatechars:100 }}
                </p>
                <div class="w3-row">
                    <div class="w3-col m8 s12">
                        <p><a href="{% url 'blog_id' blog.id %}" rel="contents" style="text-decoration: none;"><button class="w3-button w3-padding-large w3-white w3-border"><b>READ MORE »</b></button></a></p>
                    </div>
                    <div class="w3-col m4 w3-hide-small">
                        <p><span class="w3-padding-large w3-right"><b>Comments  </b> <span class="w3-tag">{% get_comment_count blog %}</span></span></p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    <div class="w3-center">
        <div class="w3-bar">
            {% if all_blogs.has_previous %}
                <a href="?{{ all_blogs.previous_page_number.querystring }}" style="text-decoration: none;">
                    <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                    </button>
                </a>
            {% else %}
                <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
            {% endif %}
            {% for page in all_blogs.pages %}
                {% if page %}
                    {% ifequal page all_blogs.number %}
                        <button class="w3-btn w3-gray w3-tiny w3-round w3-padding-small">{{ page }}</button>
                    {% else %}
                        <a href="?{{ page.querystring }}" style="text-decoration: none;">
                        <button class="w3-btn w3-black w3-hover-gray w3-tiny w3-round w3-padding-small">
                        {{ page }}
                        </button>
                        </a>
                    {% endifequal %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        {% if all_blogs.has_next %}
            <a href="?{{ all_blogs.next_page_number.querystring }}" style="text-decoration: none;">
                <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
            </a>
        {% else %}
        <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        {% endif %}
        </div>
    </div>
{% endblock %}

{% block popular_posts %}
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4>Popular Posts</h4>
        </div>
        <ul class="w3-ul w3-hoverable w3-white">
            {% for blog in hot_blog_for_7_days %}
                <li class="w3-padding-16 w3-container">
                <img src="{{ blog.cover_min.url }}" alt="cover min" class="w3-left w3-margin-right" style="width:50px">
                <a href="{% url 'blog_id' blog.id %}">
                <span class="w3-large">{{ blog.title }}</span>
                </a><br>
                <span>{{ blog.title_description }}</span>
                </li>
            {% endfor %}

        </ul>
    </div>
    <hr>
{% endblock %}

{% block tags %}
    <div class="w3-card w3-margin">
        <div class="w3-container w3-padding">
            <h4><a href="/archive/">Tags & Category</a></h4>
        </div>
        <div class="w3-container w3-white">
            <div class="w3-margin-top">
                <p>
                    {% for tag in all_tags %}
                    <a href="{% url 'tag_name' tag.name %}" style="text-decoration: none;"><span class="w3-tag w3-light-grey w3-hover-shadow w3-small w3-margin-bottom">{{ tag.name }}</span></a>
                    {% endfor %}
                </p>
                <hr>
                <p>
                    {% for category in all_categorys %}
                        <a href="{% url 'category_name' category.name %}" style="text-decoration: none"><span class="w3-tag w3-light-grey w3-hover-shadow w3-small w3-margin-bottom">{{ category.name }}</span></a>
                    {% endfor %}
                </p>
                <hr>
                <p><a href="/archive/" title="ReadNum & Archive Tags">More Info »</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer%}
    {% if all_blogs.has_previous %}
        <a href="?{{ all_blogs.previous_page_number.querystring }}" style="text-decoration: none;">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
                previous
            </button>
        </a>
    {% else %}
        <button class="w3-button w3-disabled w3-black w3-padding-large w3-margin-bottom">Previous</button>
    {% endif %}

    {% if all_blogs.has_next %}
        <a href="?{{ all_blogs.next_page_number.querystring }}" style="text-decoration: none;">
            <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
                Next »
            </button>
        </a>
    {% else %}
        <button class="w3-button w3-disabled w3-black w3-padding-large w3-margin-bottom">Next »</button>
    {% endif %}
{% endblock %}

