<!-- tag-detail.html -->
{% extends 'base.html' %}

{% block title %}Heyis.me|Tag{% endblock %}

{% block about_me %}
<div class="w3-hide-medium w3-hide-small">
{% include 'about_me.html' %}
</div>
{% endblock %}

{% block content %}
<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
        <span class="w3-tag w3-black w3-small w3-round w3-margin-bottom">{{ tag.name }}</span><span>({{ tag.blog_num }})</span>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        {% for blog in tag_blogs.object_list %}
        {# 注意！！！！！.object_list如果不加就会出现"'Page' object is not iterable"的错误 #}
    <li class="w3-padding-16">
        <img src="{{ blog.cover_min.url }}" alt="Image" class="w3-left w3-margin-right" style="width:50px">
          <span class="w3-large"><a href="{% url 'blog_id' blog.id %}" rel="contents">{{ blog.title }}</a></span><br>
        <time>{{ blog.create_time | date:"M d Y" }}</time>
    </li>
        {% empty %}
        <li class="w3-ul w3-hoverable w3-white">
            Sorry,no athletes in this list.
        </li>
        {% endfor %}
    </ul>
</div>
{# 分页，page的序号，“前一页”和“后一页”的功能包含在<footer></footer> #}
<div class="w3-center">
    <div class="w3-bar">
        {% if tag_blogs.has_previous %}
            <a href="?{{ tag_blogs.previous_page_number.querystring }}" style="text-decoration: none;">
                <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium">
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                </button>
            </a>
        {% else %}
            <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium"><i class="fa fa-angle-double-left" aria-hidden="true"></i></button>
        {% endif %}
        {% for page in tag_blogs.pages %}
                {% if page %}
                    {% ifequal page tag_blogs.number %}
                        <button class="w3-btn w3-gray w3-tiny w3-round w3-padding-small">{{ page }}</button>
                    {% else %}
                        <a href="?{{ page.querystring }}" style="text-decoration: none;">
                        <button class="w3-btn w3-black w3-hover-gray w3-tiny w3-round w3-padding-small">
                        {{ page }}
                        </button>
                        </a>
                    {% endifequal %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        {% if tag_blogs.has_next %}
             <a href="?{{ tag_blogs.next_page_number.querystring }}" style="text-decoration: none;">
                <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium">
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                </button>
            </a>
        {% else %}
        <button class="w3-btn w3-black w3-tiny w3-round w3-padding-small w3-hide-large w3-hide-medium"><i class="fa fa-angle-double-right" aria-hidden="true"></i></button>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block popular_posts %}
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
      <ul class="w3-ul w3-hoverable w3-white">

        {% for blog in hot_blog_for_7_days %}
            <li class="w3-padding-16 w3-container">
            <img src="{{ blog.cover_min.url }}" alt="cover min" class="w3-left w3-margin-right" style="width:50px">
                <a href="{% url 'blog_id' blog.id %}">
                    <span class="w3-large">{{ blog.title }}</span>
                </a><br>
            <span>{{ blog.title_description }}</span>
            </li>
        {% endfor %}

    </ul>
  </div>
<hr>
{% endblock %}

{% block tags %}
<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
        <h4><a href="/archive/">Tags & Category</a></h4>
    </div>
    <div class="w3-container w3-white">
        <div class="w3-margin-top">
            <p>
            {% for tag in all_tags %}
            <a href="{% url 'tag_name' tag.name %}" style="text-decoration: none;"><span class="w3-tag w3-light-grey w3-hover-shadow w3-small w3-margin-bottom">{{ tag.name }}</span></a>
            {% endfor %}
            </p>
            <hr>
            <p>
            {% for category in all_categorys %}
            <a href="{% url 'category_name' category.name %}" style="text-decoration: none"><span class="w3-tag w3-light-grey w3-hover-shadow w3-small w3-margin-bottom">{{ category.name }}</span></a>
            {% endfor %}
            </p>
        </div>
    </div>
</div>
{% endblock %}

{% block footer%}
{# footer #}
{# “前一页”和“后一页” #}
        {% if tag_blogs.has_previous %}
                <a href="?{{ tag_blogs.previous_page_number.querystring }}" style="text-decoration: none;">
                    <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
                        previous
                    </button>
                </a>
        {% else %}
                    <button class="w3-button w3-disabled w3-black w3-padding-large w3-margin-bottom">Previous</button>
        {% endif %}

        {% if tag_blogs.has_next %}
                <a href="?{{ tag_blogs.next_page_number.querystring }}" style="text-decoration: none;">
                    <button class="w3-button w3-black w3-padding-large w3-margin-bottom">
                        Next »
                    </button>
                </a>
        {% else %}
                    <button class="w3-button w3-disabled w3-black w3-padding-large w3-margin-bottom">Next »</button>
        {% endif %}
{% endblock %}